body div, :before, :after {
    position: absolute;
    box-sizing: border-box;
}

body:after, body:before {
    content: '';
    background: #1e5799;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: 0.3s ease-in-out;
    pointer-events: none;
}

body:before {
    z-index: 100;
    //background: black;
}

body:after {
    z-index: 100;
    //background-image: radial-gradient(ellipse at 1%, #cecece 0%,#000000 86%), radial-gradient(ellipse at 90%, #cecece 0%,#000000 86%);
    border-radius: 100%;
}

body.loaded:after, body.loaded:before {
    opacity: 0;
}

div, :before, :after {
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #1e5799 0%, #7db9e8 100%);
}