body div, :before, :after {
    position: absolute;
    box-sizing: border-box;
    z-index: 1;
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}

body:before, body:after {
    content: '';
    transition: 0.3s ease-in-out;
}

body:before {
    background: #1e5799;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9000;
}

body:after {
    content: 'love';
    font-size: 2vw;
    color: #fff;
    transition: 0.3s ease-in-out;
    width: 100%;
    text-align: center;
    font-family: monospace;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9001;
}

body.loaded:after, body.loaded:before {
    opacity: 0;
}

body.game-over:after, body.game-over:before,
body.win:after, body.win:before {
    opacity: 1;
    transition: 5s;
    font-size: 6vw;
}

body.game-over:after {
    content: 'well and truly lost...';
}

body.win:after {
    content: 'once lost, now found...';
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #1e5799 0%, #7db9e8 100%);
}

.canvas, canvas {
    width: 100%;
    height: 100%;
    z-index: 2000;
    position: absolute;
    //transform: scale(2, 2);
    //transform-origin: top left;
}

.canvas {
    z-index: 2;
}
