.ground {
    background: green;
    background: linear-gradient(to bottom, #0fe216 0%,#1a8433 100%);
    width: 100%;
    height: 10vh;
    position: fixed;
    bottom: 0;
    background-image: url(../images/ground.gif);
    background-size: calc(1.4vh + 1vw);
}

.ground.fore {
    z-index: 3;
    mix-blend-mode: overlay;
}

.ground.back {
    height: calc(10vh + 5vw);
    opacity: 0.8;
}

.world {
    width: 0;
    top: 0;
    left: 50%;
    height: 90%;
    transform: translate3d(352px, 0, 0);
    //mix-blend-mode: overlay;

}

.world-center {
    width: 20px;
    background: brown;
    height: 30px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.world-center:before {
    background-image: url(../images/campfire.gif);
    width: 3vw;
    height: 5vw;
    background-size: 3vw 5vw;
    background-repeat: no-repeat;
    content: '';
    transform: translate(-10%, -100%);
}

.campfire, .evil-campfire {
    background-image: url(../images/campfire.gif);
    width: 9vw;
    height: 8vw;
    background-size: 9vw 8vw;
    background-repeat: no-repeat;
}

.title {
    left: 4vw;
    color: transparent;
    font-size: 30vw;
    font-family: monospace;
    bottom: -2vw;
    line-height: 0.8;
    z-index: 0;
    background-image: url(../images/campfire.gif);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 6vw;
}